*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.web-bg{
  background-image: url(../image/bg-body.png);
  background-size: cover;
  background-position: left top;
  background-repeat: repeat-y;
  height: 100%;
}

.bg-orange{
background-color: #e8840c;
}

.bg-purple{
background-color: #d8047c;
}

.full-bg{
  background-image: url(../image/bg-footer.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  width: 100%;
}

.hidden {
opacity: 0;
transition: opacity 0.7s ease-out;
pointer-events: none;
}

.activeFilm {
opacity: 1;
transition: opacity 0.7s ease-out;
pointer-events: auto;
}


.logo-home{
  background: url(../image/icon-home.png) no-repeat center 5px;
  height: 50px;
  width: 50px;
  display: inline-block;
  padding-left: 100px;
}

.logo-home:hover{
  background-position: center -43px;
  transition: 0.5s ease-in-out;
}

.login{
  background-image: url(../image/ic-header-auth.svg);
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cotain;
  position: relative;
}

.menu-nav .nav-item a{
  color:white;
  text-align: center;
  margin: 0 -10px;
}

.menu-nav .nav-item{
  width: 100%;
}


.menu-nav .nav-item:hover{
  background-color: orange;
}

.text-hover{
  color: white;
}

.text-hover:hover{
  color: orange;
}

.button-login:hover{
  display: block;
}


.poster img{
  height:auto;
  margin-top: 165px;
  width: 100vw;
  max-width: 100%;
}

@media screen and (max-width:1200px) {
  .nav-out-sidebar{
      display: none;
  }
  .nav-in-sidebar{
      display: block;
  }

  .poster img{
      height:auto;
      margin-top: 130px;
      width: 100vw;
      max-width: 100%;
  }
}

.up-coming,
.current-movie{
  height: 450px;
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
} 


.swiper-upcoming,
.swiper1{
  height: 500px;
  max-width: 1200px; 
  width: 1200px;
}


.swiper-upcoming .swiper-wrapper .swiper-slide img, 
.swiper1 .swiper-wrapper .swiper-slide img{
  max-height: 300px;
}


.swiper-button-prev img {
  width: fit-content;
  border-radius: 40px;
  position: absolute;
  top: 0%;
  margin-left: -10px;
  margin-top: -10px;
  background-color: #ec9424;
}

.swiper-upcoming-button-prev img{
  width: fit-content;
  border-radius: 40px;
  position: absolute;
  top: 50%;
  background-color: #d8047c;
}

.swiper-upcoming-button-next img{
  width: fit-content;
  border-radius: 40px;
  position: absolute;
  margin-right: 50px;
  background-color: #ec9424;
  right:0%;
  top:50%;
}

.swiper-button-next img {
  width: fit-content;
  border-radius: 40px;
  position: absolute;
  margin-left: -30px;
  background-color: #ec9424;
}

.swiper-upcoming-button-prev img,
.swiper-upcoming-button-next img,
.swiper-button-prev img:hover,
.swiper-button-next img:hover {
  background-color: #e8840c;
  box-shadow: 0 0 60px rgba(255, 255, 255, 1);
}

@media screen and (max-width:1400px) and (min-width:1000px){

.up-coming,
.current-movie{
    height: 400px;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
  }
  
  .swiper-upcoming,
  .swiper1{
    height: 500px;
    max-width: 1200px; 
    width: 700px;
  }

  .swiper-pagination{
    display: none;
  }
}

@media screen and (max-width :1000px) and (min-width:800px){
.up-coming,
.current-movie{
    height: 400px;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
  }

  .swiper-upcoming,
  .swiper1{
    height: 500px;
    max-width: 1200px; 
    width: 500px;
  }

  .swiper-pagination{
    display: none;
  }

}

@media screen and (max-width:793px ) {

  .swiper-upcoming-button-next,
  .swiper-upcoming-button-prev,
  .swiper-button-prev,
  .swiper-button-next{
    display: none !important;
  }
  .swiper-upcoming-pagination,
  .swiper-pagination{
    display: block !important;
  }


}

.title-film {
  max-width: 200px;
  height: 350px;
}

.title-film .logo-2d{
    margin-left: 80px;
    height: 35px;
}

.info-hover{
  top:0%;
  width: 230px;
  height: 390px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.5);
}

 .info-hover .detail{
  width: fit-content;
  margin: auto;
}

.info-hover .info-detail{
  max-width: 200px;
  max-height: 165px;
  overflow: hidden;
  margin-top: 10px;
}

 .info-hover .other-link a{
  width: fit-content;
  margin: 0 auto;
}

 .swiper-slide:hover .info-hover {
  opacity: 1;
  transition: opacity 0.7s ease-out;
  pointer-events: auto;
}

 .info-hover .other-link a:hover,
 .info-hover .detail:hover{
  background-color: #d8047c;
}

 .info-hover .other-link a:hover .logo-star{
  background-color: #ec9424;
}


#content .vouncher{
  max-width: 1500px;
  margin: auto;

}

#content .vouncher .logo-vouncher img {
  width: 150px;
  height: 150px;

}

#content .vouncher .list-vouncher .list-item{
  border-radius: 30px 0 30px;
}

#content .vouncher img{
  height: 160px;
  width: 280px;
}


#content .vouncher .list-vouncher .list-item:hover,
#content .vouncher .list-vouncher .list-item:hover,    
#content .vouncher .list-vouncher .list-item:hover{ 
  filter: brightness(90%);
  background-color: lightgrey;
  border-radius: 30px 0px 30px;
}

@media screen and (max-width :1200px){
.logo-vouncher{
  margin-bottom: 20px !important;
  margin: auto !important;
}
}

@media screen  and (max-width:700px){
.vouncher .logo-vouncher img{
    width: 130px !important;
    height: 150px !important;
}
}

@media screen  and (max-width:550px){
.vouncher{
  display: flex !important;
  flex-direction: column !important;
}
.logo-vouncher{
  margin-bottom: 20px !important;
  margin: auto !important;
}

.main-list-vouncher{
  width: 300px !important;
}
}

.modal-dialog {
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.modal-body {
    overflow-y: auto;
}
.modal-body::-webkit-scrollbar {
    display: none;
}
.moda-content{
    overflow: auto;
}
.modal-bg{
    background-color: #34374C;
}
.modal-body h2{
    margin-top: 40px;
    color: #EEEEEE;
}
#content .group {
  display: flex;
  justify-content: center; 
}
#content .group label{
  color: #EEEEEE;
}
#content .group input{
  border-radius: 5px;
}
#content .txt {
  width: 590px;
  height: 40px;
  padding: 10px;
}
#content .custom-card{
    width: 580px;
    max-height: 200px;
    overflow: auto;
}
.register-button {
  padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 20px;
}
.register-button::before {
  content: "";
  position: absolute;
  background-color: orange;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.5s;
  behavior: smooth;
  z-index: 0;
}
.register-button:hover::before {
  left: 0;
}
#content .btn-dk{
    width: 400px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}
.form a{
    color: white;
}
.form a:hover{
    color: orange;
    font-weight: bold;
}
#content .agr{
  margin-left: 25px;
}

/* reponsive của fomr đăng kí */
@media screen and (min-width: 700px) and (max-width: 990px){
  .modal-dialog {
      margin: 20px auto;
  }
  .modal-body {
      padding: 20px;
  }
  .modal-body h2{
    margin-top: 20px;
    font-size: 20px;
  }
  .group {
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  #content .fit,
  #content .txt{
    width: 400px;
  }
  #content .btn-dk{
    width: 300px;
  }
  #content .custom-card{
    width: 390px;
    max-height: 170px;
    overflow: auto;
  }
}
@media screen  and (max-width: 550px) and (min-width: 320px) {
  .modal-dialog {
    max-width: 320px;
    margin: 10px auto;
  }
  .modal-body h2{
    margin-top: 10px;
    font-size: 20px;
  }
  .group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #content .fit,
  #content .txt{
    width: 300px;
  }
  #content .btn-dk{
    width: 200px;
  }
  #content .custom-card{
    width: 300px;
    max-height: 170px;
    overflow: auto;
  }
}