.modal-dialog {
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.modal-body {
    overflow-y: auto;
}
.modal-body::-webkit-scrollbar {
    display: none;
}
.modal-content{
    overflow: auto;
}
.modal-bg{
    background-color: #34374C;
}
.md-body h2{
    margin-top: 40px;
    color: #EEEEEE;
}
#content .group {
  display: flex;
  justify-content: center; 
}
#content .group label{
  color: #EEEEEE;
}
#content .group input{
  border-radius: 5px;
}
#content .txt {
  width: 590px;
  height: 40px;
  padding: 10px;
}
#content .custom-card{
    width: 580px;
    max-height: 200px;
    overflow: auto;
}
.register-button {
  padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 20px;
}
.register-button::before {
  content: "";
  position: absolute;
  background-color: orange;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.5s;
  behavior: smooth;
  z-index: 0;
}
.register-button:hover::before {
  left: 0;
}
#content .btn-dk{
    width: 400px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}
.form a{
    color: white;
}
.form a:hover{
    color: orange;
    font-weight: bold;
}
#content .agr{
  margin-left: 25px;
}

/* reponsive của fomr đăng kí */
@media screen and (min-width: 700px) and (max-width: 990px){
  .md-dialog {
      margin: 20px auto;
  }
  .md-body {
      padding: 20px;
  }
  .md-body h2{
    margin-top: 20px;
    font-size: 20px;
  }
  .group {
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  #content .fit,
  #content .txt{
    width: 400px;
  }
  #content .btn-dk{
    width: 300px;
  }
  #content .custom-card{
    width: 390px;
    max-height: 170px;
    overflow: auto;
  }
}
@media screen  and (max-width: 550px) and (min-width: 320px) {
  .md-dialog {
    max-width: 320px;
    margin: 10px auto;
  }
  .md-body h2{
    margin-top: 10px;
    font-size: 20px;
  }
  .group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #content .fit,
  #content .txt{
    width: 300px;
  }
  #content .btn-dk{
    width: 200px;
  }
  #content .custom-card{
    width: 300px;
    max-height: 170px;
    overflow: auto;
  }
}