.full-bg{
    background-image: url(../image/bg-body.png);
    background-size: cover;
    background-position: left top;
    background-repeat: repeat-y;
    height: 100vh;
}

.logo-home{
    background: url(../image/icon-home.png) no-repeat center 5px;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-right: 15px;
}

.logo-home:hover{
    background-position: center -43px;
    transition: 0.5s ease-in-out;
}

nav{
    max-width: 1500px;
    margin: auto;
}

.login{
    background-image: url(../image/ic-header-auth.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
    position: relative;
}

.login:hover .login-dropdown{
    display: block;
}

.login-dropdown{
    display: none;
    width: 130px;
    height: 100px;
    margin-top: 25px;
}

.login-dropdown >li>a{
    color: white;
}

.login-dropdown >li>a:hover{
    color: orange;
}

.nav-item > a{
    color:white;
}

.nav-item > a:hover{
    color: orange;
}

