*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.web-bg{
    background-image: url(../image/bg-body.png);
    background-size: cover;
    background-position: left top;
    background-repeat: repeat-y;
    height: 100%;
}

.full-bg{
    background-image: url(../image/bg-footer.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    width: 100%;
}


.logo-home{
    background: url(../image/icon-home.png) no-repeat center 5px;
    height: 50px;
    width: 50px;
    display: inline-block;
    padding-left: 100px;
}

.logo-home:hover{
    background-position: center -43px;
    transition: 0.5s ease-in-out;
}

.login{
    background-image: url(../image/ic-header-auth.svg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cotain;
    position: relative;
}

.menu-nav .nav-item a{
    color:white;
    text-align: center;
    margin: 0 -10px;
}

.menu-nav .nav-item{
    width: 100%;
}


.menu-nav .nav-item:hover{
    background-color: orange;
}

.text-hover{
    color: white;
}

.text-hover:hover{
    color: orange;
}

.button-login:hover{
    display: block;
}


.poster img{
    height:auto;
    margin-top: 165px;
    width: 100vw;
    max-width: 100%;
}

@media screen and (max-width:1200px) {
    .nav-out-sidebar{
        display: none;
    }
    .nav-in-sidebar{
        display: block;
    }

    .poster img{
        height:auto;
        margin-top: 130px;
        width: 100vw;
        max-width: 100%;
    }
}

#main-content .up-coming,
#main-content .current-movie{
    height: 400px;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
} 


.swiper-upcoming,
.swiper1{
    height: 500px;
    max-width: 1200px; 
    width: 1200px;
}




.swiper-upcoming .swiper-wrapper .swiper-slide img, 
.swiper1 .swiper-wrapper .swiper-slide img{
    max-height: 300px;
}


.swiper-button-prev img {
    width: fit-content;
    border-radius: 40px;
    position: absolute;
    top: 0%;
    margin-left: -10px;
    background-color: #ec9424;
  }

  .swiper-upcoming-button-prev img{
    width: fit-content;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    background-color: #d8047c;
  }

  .swiper-upcoming-button-next img{
    width: fit-content;
    border-radius: 40px;
    position: absolute;
    margin-right: 50px;
    background-color: #ec9424;
    right:0%;
    top:50%;
  }

  .swiper-button-next img {
    width: fit-content;
    border-radius: 40px;
    position: absolute;
    margin-left: -30px;
    background-color: #ec9424;
  }
  
  .swiper-upcoming-button-prev img,
  .swiper-upcoming-button-next img,
  .swiper-button-prev img:hover,
  .swiper-button-next img:hover {
    background-color: #e8840c;
    box-shadow: 0 0 60px rgba(255, 255, 255, 1);
  }

  @media screen and (max-width:1400px) and (min-width:1000px){

    #main-content .up-coming,
    #main-content .current-movie{
      height: 400px;
      max-width: 1000px;
      margin: auto;
      overflow: hidden;
    }
    
    .swiper-upcoming,
    .swiper1{
      height: 500px;
      max-width: 1200px; 
      width: 700px;
    }

    .swiper-pagination{
      display: none;
    }
  }

  @media screen and (max-width :1000px) and (min-width:800px){

    #main-content .up-coming,
    #main-content .current-movie{
      height: 400px;
      max-width: 800px;
      margin: auto;
      overflow: hidden;
    }

    .swiper-upcoming,
    .swiper1{
      height: 500px;
      max-width: 1200px; 
      width: 500px;
    }

    .swiper-pagination{
      display: none;
    }

  }

  @media screen and (max-width:793px ) {

    .swiper-upcoming-button-next,
    .swiper-upcoming-button-prev,
    .swiper-button-prev,
    .swiper-button-next{
      display: none !important;
    }
    .swiper-upcoming-pagination,
    .swiper-pagination{
      display: block !important;
    }


  }

  #content .vouncher{
    max-width: 1500px;
    margin: auto;
  
  }

  #content .vouncher .logo-vouncher img {
    width: 150px;
    height: 150px;

  }

  #content .vouncher .list-vouncher .list-item{
    border-radius: 30px 0 30px;
  }

#content .vouncher img{
    height: 180px;
    width: 266px;
}


#content .vouncher .list-vouncher .list-item:hover,
#content .vouncher .list-vouncher .list-item:hover,    
#content .vouncher .list-vouncher .list-item:hover{ 
    filter: brightness(90%);
    background-color: lightgrey;
    border-radius: 30px 0px 30px;
}

@media screen  and (max-width:700px){
  .vouncher .logo-vouncher img{
      width: 130px !important;
      height: 150px !important;
  }
}

@media screen  and (max-width:550px){
  .vouncher{
    display: flex !important;
    flex-direction: column !important;
  }
  .logo-vouncher{
    margin-bottom: 20px !important;
    margin: auto !important;
  }

  .main-list-vouncher{
    width: 300px !important;
  }
}

#content .news{
  margin: auto;
  width: fit-content;
}
  #content .news .main-new .new1{
    width: 600px;
    height: 295px;
    border-radius: 0 30px 0 30px;
    margin: auto 0;
    overflow: hidden;
  }

  #content .new1 .txt{
    width: 500px;
    margin: auto 0;
  }

  #content .new1 .pic img{
    width: 300px;
    height: 200px;
  }

  @media screen and (max-width : 1430px){
      .news{
        display: flex;
        flex-direction: column !important ;
      }

      .news .logo-new {
        align-items: center;
      }

      .news .logo-new img{
        width: 150px;
      }
  }

  @media screen and (max-width:1300px) {
      .news .main-new{
        display: flex;
        flex-direction: column !important;
      }

      .new1{
        margin-bottom: 20px !important;
      }
  }

  @media screen and (max-width:650px){
      .news .main-new .new1{
        width: 400px !important;
        margin-left: 0 !important;
      }

      .news .main-new .new1 .pic img{
        width: 180px !important;
        height: auto;
      }
  }

  @media screen and (max-width : 400px) {
    .news .main-new .new1{
      width: 300px !important;
      margin-left: 10px !important;
      height: 270px !important  ;
    }

    .news .main-new .new1 .txt p{
      display: none;
    }

    .news .main-new .new1 a{
      display: flex;
      flex-direction: column !important;
    }
    .news .main-new .new1 .pic {
      margin: 0 auto;
    }
  }



  @media screen and ( max-width: 570px){
    .container-footer {
        width: 100%;
    }

    .container-footer .content-footer5 {
      margin: auto;
    }
  }

  @media screen and ( max-width: 400px){
    .container-footer {
        width: 100%;
    }

    .container-footer .nav-item {
      margin: auto;
    }
  }

  footer .container-footer{
    max-width: 1500px;
    margin: auto;
  }
  footer .logo-footer{
    width: fit-content;
    margin: auto;
  }

  footer .nav h3{
    background-color: #601c5c ;
    padding: 10px;
  }


  .text-grey{
    color: grey;
    font-size: 18px;
  }

  .text-grey:hover{
    color: orange;
  }