

.contact {
  position: relative;
  width: 100%;
  background-image: url(../image/background_hoivadap.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact .title {
  text-align: center;
  color: red;
  margin-bottom: 20px;
}

.contact .title h1 {
  text-transform: uppercase;
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin-top: 130px;
}

.listquestion {
  width: 90%;
  max-width: 1440px;
  min-width: 300px;
  position: relative;
  left:50%;
  transform: translateX(-50%);
  z-index: 1;
}

.question {
  width: 100%;
  height: auto;
  position: relative;
  
}

.question ul {
  padding: 0;
  margin: 0;
}

.question li {
  display: block;
  height: auto;
  width: 100%;
  margin-bottom: 4px;
}

.question li .ask {
  display: inline-block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out;
  border-radius: 0px 30px 0px 30px;
  cursor: pointer;
  position: relative;
  height: auto;
}

.question li .ask:hover {
  background-color: rgba(206, 118, 118, 0.8);
}

.question li .number {
  font-family: "Futurab";
  font-weight: normal;
  color: #ededed;
  font-size: 24px;
  display: table-cell;
  vertical-align: middle;
  width: 80px;
  text-align: center;
}

.question li .ask h3 {
  font-family: "MyriadBold";
  font-weight: normal;
  color: #fff;
  /* text-align: left; */
  display: table-cell;
  vertical-align: middle;
  padding: 10px 50px 10px 0;
  height: 76px;
}

.listquestion .question .ask i {
  color: white;
  border-radius: 50%;
  position: absolute;
  right: 3%;
  top: 45%;
  opacity: 1;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.listquestion .question .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
}

.listquestion .question .ask {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5); /* Màu mặc định */
}

.listquestion .question .ask.open {
  background-color: rgba(206, 118, 118, 0.8);
}
.listquestion .question .ask.open i {
  transform: rotate(180deg);
}

.listquestion .question .ask:hover i {
  transform: rotate(180deg);
}

.question li .answer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: 95%;
  background-color: #f5eff5;
  border-radius: 10px;
}

.question li .box {
  margin: auto;
  height: fit-content;
  width: 90%;
  border-radius: 10px;
  padding-top: 2vh;
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listquestion .question ul > li > .answer .box .left {
  width: 15%;
  height: 100%;
}
.listquestion .question ul > li > .answer .box .left h1 {
  color: #f37520;
  font-size: 25px;
  text-transform: uppercase;
}

.listquestion .question ul > li > .answer .box .right {
  padding-left: 5vw;
  width: 85%;
  height: 100%;
}

.listquestion .question ul > li > .answer .box .right h4 {
  font-size: 15px;
  position: relative;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}
.listquestion .question ul > li > .answer .box .right h5 {
  margin-top: 5px;
  font-size: 17px;
  position: relative;
  text-align: center;
  font-weight: normal;
  text-decoration: underline;
}

.listquestion .question ul > li > .answer .box .right p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #000;
  line-height: 24px;
  text-align: left;
  margin-bottom: 2px;
}

/* form */

.contact-form .title h1 {
  margin-top: 60px;
  text-align: center;
  font-size: 40%;
  color: white;
}

.contact .form-input {
  width: 50%;
  min-width: 300px;
  max-width: 1000px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  
}

.contact .form-input form{
  padding-bottom: 5%;
}

.contact .form-input .t1:focus::placeholder {
  color: transparent;
  animation: showPlaceholder 0.7s forwards;
}

.contact .form-input form table .t2 {
  background-color: #ccc;
  width: 410px;
  max-width: 410px;
  height: 40px;
  border-radius: 20px;
  border:solid 1px #ccc;
  transition: background-color 0.3s ease-in-out;
}

.contact .form-input input:focus {
  background-color: rgba(222, 144, 144, 0.8);
  border:solid 1px #ccc;
}

.form-input form textarea{
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.form-input form textarea:focus {
  background-color: rgba(222, 144, 144, 0.8);
}



.contact .form-input form button{
  background-color: rgb(209, 139, 9);
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  width: 100px;
  height: 70px;
  border-radius: 20px 20px 20px 0;
  border: 1px solid rgb(209, 139, 9);
  transition: 0.5s ease-in-out;
  
}

.contact .form-input form button:hover {
  background-color: rgba(206, 118, 118, 0.8);
  cursor: pointer;
}

/* phimdangchieu */

