* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.web-bg {
  background-image: url(../image/bg-body.png);
  background-size: cover;
  background-position: left top;
  background-repeat: repeat-y;
  height: 100%;
}

.full-bg {
  background-image: url(../image/bg-footer.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  width: 100%;
}

.logo-home {
  background: url(../image/icon-home.png) no-repeat center 5px;
  height: 50px;
  width: 50px;
  display: inline-block;
  padding-left: 100px;
}

.logo-home:hover {
  background-position: center -43px;
  transition: 0.5s ease-in-out;
}

.login {
  background-image: url(../image/ic-header-auth.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cotain;
  position: relative;
}

.menu-nav .nav-item a {
  color: white;
  text-align: center;
  margin: 0 -10px;
}

.menu-nav .nav-item {
  width: 100%;
}

.menu-nav .nav-item:hover {
  background-color: orange;
}

.text-hover {
  color: white;
}

.text-hover:hover {
  color: orange;
}

.button-login:hover {
  display: block;
}

#list-sidebar::-webkit-scrollbar {
  width: 0;
}

.poster img {
  height: auto;
  margin-top: 165px;
  width: 100vw;
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .nav-out-sidebar {
    display: none;
  }
  .nav-in-sidebar {
    display: block;
  }

  .poster img {
    height: auto;
    margin-top: 130px;
    width: 100vw;
    max-width: 100%;
  }
}

#main-content .current-movie {
  height: 400px;
}
.swiper {
  width: 100%;
  height: 500px;
}

.swiper {
  max-width: 1200px;
  width: 1200px;
}

.swiper .swiper-wrapper .swiper-slide img {
  max-height: 300px;
}

.swiper-button-prev img {
  width: fit-content;
  border-radius: 40px;
  position: absolute;
  top: 0%;
  margin-left: 30px;
  background-color: #ec9424;
}

.swiper-button-next img {
  width: fit-content;
  border-radius: 40px;
  position: absolute;
  margin-left: 10px;
  background-color: #ec9424;
}

.swiper-button-prev img:hover,
.swiper-button-next img:hover {
  background-color: #e8840c;
  box-shadow: 0 0 60px rgba(255, 255, 255, 1);
}

#content .vouncher ul > li {
  border-radius: 30px 0 30px;
}

#content .vouncher img {
  height: 180px;
}

#content .vouncher ul li:nth-child(1) img {
  width: 130px;
  height: 110px;
}

#content .vouncher ul li:nth-child(4):hover,
#content .vouncher ul li:nth-child(3):hover,
#content .vouncher ul li:nth-child(2):hover {
  filter: brightness(90%);
  background-color: lightgrey;
  border-radius: 30px 0px 30px;
}

#content .news ul {
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
}

#content .news ul li {
  display: block;
  position: relative;
}

#content .news ul li > a {
  position: absolute;
  width: 100%;
  height: 250px;
}

#content .news ul li:first-child img {
  max-width: 340px;
  width: 150px;
  margin-left: 50px;
}

#content .news ul li:nth-child(3),
#content .news ul li:nth-child(2) {
  display: flex;
  max-width: 600px;
  min-width: 600px;
  color: white;
  background-color: #d8047c;
  border-radius: 0 30px 0 30px;
  margin-left: 30px;
  height: 280px;
}

#content .news ul li .txt {
  text-align: right;
  max-width: 500px;
}

#content .news ul li img {
  max-width: 300px;
  width: 300px;
  height: auto;
}

#content .news ul li:nth-child(3):hover,
#content .news ul li:nth-child(2):hover {
  background-color: orange;
}

footer .logo-footer {
  width: fit-content;
  margin: auto;
}

footer .nav h3 {
  background-color: #601c5c;
  padding: 10px;
}

.text-grey {
  color: grey;
  font-size: 18px;
}

.text-grey:hover {
  color: orange;
}
#dienanh {
  z-index: 1;
  position: relative;
  right: -2%;
  box-shadow: 10px 0px 10px #d9791d;
  background-color: yellow;
  cursor: pointer;
}
#tuyendung {
  background-color: orange;
  position: relative;
  left: -2%;
  cursor: pointer;
}
#tuyendung > a {
  color: white;
}
#tuyendung:hover,
#tuyendung:hover > a {
  color: black;
  background-color: yellow;
}
.small-screen {
  width: 45%;
}
.small-link {
  font-size: 12px;
  text-align: center;
}
.hover-yellow {
  color: black;
}
.col-md-4 > a:hover .hover-yellow {
  background-color: yellow !important;
}
