* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.web-bg {
  background-image: url(../image/bg-body.png);
  background-size: cover;
  background-position: left top;
  background-repeat: repeat-y;
  height: 100%;
}

.full-bg {
  background-image: url(../image/bg-footer.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  width: 100%;
}

.logo-home {
  background: url(../image/icon-home.png) no-repeat center 5px;
  height: 50px;
  width: 50px;
  display: inline-block;
  padding-left: 100px;
}

.logo-home:hover {
  background-position: center -43px;
  transition: 0.5s ease-in-out;
}

.login {
  background-image: url(../image/ic-header-auth.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cotain;
  position: relative;
}

.menu-nav .nav-item a {
  color: white;
  text-align: center;
  margin: 0 -10px;
}

.menu-nav .nav-item {
  width: 100%;
}

.menu-nav .nav-item:hover {
  background-color: orange;
}

.text-hover {
  color: white;
}

.text-hover:hover {
  color: orange;
}

.button-login:hover {
  display: block;
}

#list-sidebar::-webkit-scrollbar {
  width: 0;
}

.poster img {
  height: auto;
  margin-top: 165px;
  width: 100vw;
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .nav-out-sidebar {
    display: none;
  }
  .nav-in-sidebar {
    display: block;
  }

  .poster img {
    height: auto;
    margin-top: 130px;
    width: 100vw;
    max-width: 100%;
  }
}

#dienanh {
  z-index: 1;
  position: relative;
  right: -2%;
  box-shadow: 10px 0px 10px #d9791d;
  background-color: yellow;
  cursor: pointer;
}
#tuyendung {
  background-color: orange;
  position: relative;
  left: -2%;
  cursor: pointer;
}
#tuyendung > a {
  color: white;
}
#tuyendung:hover,
#tuyendung:hover > a {
  color: black;
  background-color: yellow;
}
.small-screen {
  width: 45%;
}
.small-link {
  font-size: 12px;
  text-align: center;
}
.hover-yellow {
  color: black;
}
.col-md-4 > a:hover .hover-yellow {
  background-color: yellow !important;
}
