*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    background-image: url(../image/bg-body.png);
    background-size: cover;
    background-position: left top;
    background-repeat: repeat-y;
    height: 100%;
}

#container-bg{
    background-image: url(../image/bg-footer.jpg) ;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    width: 100%;
}

a{
    text-decoration: none;
}

#header{
    height: 128px;
    position: fixed;
    width: 100%;
    background-color: black;
    z-index: 20;
}

#top{
    height: 128px;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    position: relative;
    max-width: 1500px;
}

#header #nav{
    display: flex;
    align-self: flex-end;
    margin-bottom: 10px;
    position: absolute;
    right: 0;
}

#header #TH2D{
    background-image:url(../image/logo.png) ;
    position: absolute;
    height: 110px;
    width: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    left: 20px;
}
#nav .logo{
    background: url(../image/icon-home.png) no-repeat center 5px;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-right: 15px;
}

#nav #menu{
    border: solid 1px #d8047c;
    border-radius: 30px;
    padding: 3px;
    height: 51px;
}
ul{
    list-style: none;
}
#nav #menu ul{
    background-color: #d8047c;
    border-radius: 30px;
}

#nav #menu >ul>li {
    display: inline-block;
    align-self: flex-end;
    height: 42px;
    padding: 5px;
}
#nav .logo:hover{
   background-position: center -43px;
   transition: 0.5s ease-in-out;
}
#nav #menu >ul>li:hover{
    background-color: orange;  
}

#nav #menu >ul>li:hover:first-child{
    border-radius: 30px 0 0 30px;
}

#nav #menu >ul>li:hover:last-child{
    border-radius: 0 30px 30px 0;
}

#nav #menu >ul> li >a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-size: 18px;
    line-height: 35px;
}

#login{
    position: absolute;
    display: block;
    right: 0;
    margin-top: 10px;
}

#login a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

#login :first-child{
    border-right: solid 1px white;
    padding-right: 10px;
}

#login a:hover{
    color: orange;
}

.poster{
    height: auto;
    position: relative;
    top: 130px;
}

.poster img{
    width: 100vw;
    max-width: 100%;
    height: auto;
}

#content{
    margin-top: 120px;
    height: 100%;
    max-height: 2020px;
    min-height: 2020px;
    background-image: url(../image/bg-body.png);
    background-size: contain;
    background-repeat: repeat-y;
    overflow: hidden;
}

#content .content-nav{
    margin-bottom: 10px;
}

#content .content-nav ul{
    display: flex;
    justify-content: center;
}

#content .content-nav li{
    background-color: orange;
    height: 74px;
    display: block;
}

#content .content-nav li:first-child{
    border-radius: 30px 50px 50px 0px;
    margin-right: -50px;
    box-shadow: 10px 0 0 rgba(0, 0, 0, 0.1);
    padding-right: 40px;
    padding-left: 40px;
}

#content .content-nav li:nth-child(2){
    border-radius: 0px 50px 50px 0;
    padding-left: 70px;
    padding-right: 30px;
    box-shadow: 10px 0 0 rgba(0, 0, 0, 0.1);
}

#content .content-nav li:last-child{
    border-radius: 0 30px 0 0;
    margin-left: -80px;
    padding-left: 100px;
    padding-right: 10px;
}

#content .content-nav a:hover,
#content .content-nav li:hover{
    background-color: yellow;
    color: black;
}


#content .content-nav li>a{
    display: block;
    line-height: 74px;
    font-size: 25px;
    color: white;

}

#content .content-movie{
    background: orange;
}

#content .content-movie .content-movie-bg{
    height:480px;
    padding-top: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    max-width:1520px ;
    margin: auto;
}

#content .content-movie .slide-prev img{
    box-shadow: 0 0 60px rgba(255, 255, 255, 1);
    width: fit-content;
    border-radius: 40px;
    position: relative;
    top: 35%;
    margin-left: 40px;
    right: 0;
}

#content .content-movie .list-movie{
    display: flex;
}

#content .content-movie .list-movie .movie-item{
    margin-right:40px ;
    max-height: 404px;
    max-width: 204px;
}

#content .content-movie .list-movie .movie-item h3{
    text-align: center;
}

#content .content-movie .slide-next img{
    box-shadow: 0 0 60px rgba(255, 255, 255, 1);
    width: fit-content;
    border-radius: 40px;
    position: relative;
    top: 35%;
    margin-left: 40px;
    right: 80%;



}

#content .voucher{
    margin-top: 30px;
}

#content .voucher .menu-voucher{
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
    margin: 0 auto;
}
#content .voucher .menu-voucher li:nth-child(4),
#content .voucher .menu-voucher li:nth-child(3),
#content .voucher .menu-voucher li:nth-child(2){
    max-width: 354px;
    width: fit-content;
    border-radius: 30px 0 30px;
    background-color: white;
}

#content .voucher .menu-voucher li:first-child img{
    max-width: 380px;
    width: 150px;
}
#content .voucher .menu-voucher li img{
    max-width: 340px;
    width: 340px;
    padding: 20px;
}

#content .voucher .menu-voucher li:nth-child(4):hover,
#content .voucher .menu-voucher li:nth-child(3):hover,
#content .voucher .menu-voucher li:nth-child(2):hover{
    filter: brightness(90%);
    background-color: lightgrey;
    border-radius: 30px 0px 30px;
}

#content .news {
    margin-top: 100px;
}

#content .news .menu-news{
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
}

#content .news .menu-news li{
    display: block;
    position: relative;






}

#content .news .menu-news li>a{


    position: absolute;
    width: 100%;
    height: 250px;
}



#content .news .menu-news li:first-child img{
    max-width: 340px;
    width: 150px;
    margin-left:50px;
}

#content .news .menu-news li:nth-child(3),
#content .news .menu-news li:nth-child(2){
    display: flex;
    max-width: 600px;
    min-width: 600px;
    color: white;
    background-color: #d8047c;
    border-radius: 0 30px 0 30px;
    margin-left: 30px;
}

#content .news .menu-news li .txt{
    text-align: right;
    margin: auto 0;
    max-width: 500px;
}

#content .news .menu-news li img{
    max-width: 340px;
    width: 340px;
    padding: 20px;
}

#content .news .menu-news li:nth-child(3):hover,
#content .news .menu-news li:nth-child(2):hover{
    background-color: orange;
}


#footer{
    width: 100%;
    height: 100vh;
}

#footer .container-footer{
    position: relative;
    bottom: 0%;
}

#footer .logo-footer{
    width: fit-content;
    margin: auto;
    padding-top: 40px;
}

#footer .content-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1520px;
    margin: auto;
}

#footer .content-footer h3{
    color: white;
    border: solid #601c5c 1px;
    line-height: 42px;
    width: fit-content;
    padding: 8px 19px;
    background-color: #601c5c;
}



#footer .content-footer .content-footer1 .content-lienket{
    margin-top: 20px;
    text-align: center;
}

#footer li,a{
    color: gray;
}

#footer .content-footer .content-footer5 .content-chinhsach,
#footer .content-footer .content-footer4 .content-thongtin,
#footer .content-footer .content-footer3 .content-TH2D,
#footer .content-footer .content-footer2 .content-hethongrap{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

#footer .content-footer .content-footer3 h3{
    width: fit-content;
    margin: auto;
}

#footer a:hover{
    color: orange;
}

#footer .content-footer .content-footer5{
    width: 100%;
}

#footer .content-footer .content-footer5 h3{
    margin: auto;
}

#thanhtoan{
    background: url(../image/bg-body.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    margin-top: 20px;
}

#thanhtoan .content-thanhtoan{
    margin: auto;
    width: fit-content;
    padding-top: 10px;
}

#thanhtoan .content-thanhtoan h3{
    color: #b3c4d5;
}

#thanhtoan .card{
    display: flex;
    margin-top: 10px;
}

#infor-company{
    background-color: black;
    height: 200px;
    color: #b3c4d5;
}

#infor-company .content-infor{
    text-align: center;
    padding-top: 20px;
}