*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    background-image: url(../image/bg-body.png);
    background-size: cover;
    background-position: left top;
    background-repeat: repeat-y;
    height: 100%;
}

#container-bg{
    background-image: url(../image/bg-footer.jpg) ;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    width: 100%;
}

a{
    text-decoration: none;
}

#header{
    height: 128px;
    position: fixed;
    width: 100%;
    background-color: black;
    z-index: 20;
}

#top{
    height: 128px;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    position: relative;
    max-width: 1500px;
}

#header #nav{
    display: flex;
    align-self: flex-end;
    margin-bottom: 10px;
    position: absolute;
    right: 0;
}

#header #TH2D{
    background-image:url(../image/logo.png) ;
    position: absolute;
    height: 110px;
    width: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    left: 20px;
}
#nav .logo{
    background: url(../image/icon-home.png) no-repeat center 5px;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-right: 15px;
}

#nav #menu{
    border: solid 1px #d8047c;
    border-radius: 30px;
    padding: 3px;
    height: 51px;
}
ul{
    list-style: none;
}
#nav #menu ul{
    background-color: #d8047c;
    border-radius: 30px;
}

#nav #menu >ul>li {
    display: inline-block;
    align-self: flex-end;
    height: 42px;
    padding: 5px;
}
#nav .logo:hover{
   background-position: center -43px;
   transition: 0.5s ease-in-out;
}
#nav #menu >ul>li:hover{
    background-color: orange;  
}

#nav #menu >ul>li:hover:first-child{
    border-radius: 30px 0 0 30px;
}

#nav #menu >ul>li:hover:last-child{
    border-radius: 0 30px 30px 0;
}

#nav #menu >ul> li >a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-size: 18px;
    line-height: 35px;
}

#login{
    position: absolute;
    display: block;
    right: 0;
    margin-top: 10px;
}

#login a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

#login :first-child{
    border-right: solid 1px white;
    padding-right: 10px;
}

#login a:hover{
    color: orange;
}

.poster{
    width: 100vw;
    height: auto;
    position: relative;
    top: 130px;
}

.poster img{
    width: 100vw;
    height: auto;
}

#news{
    background-image: url(../image/bg-body.png);
    background-size: contain;
    background-repeat: repeat-y;
    padding-top: 130px;
    overflow: hidden;
}

#container-bg>h1{ 
    padding: 20px;
    font-size: 1cm;
    text-align: center;
    color: white;
}
#dienanh,#tuyendung{
    height: 100%;
}
#container-bg>#dienanh>ul{
    width: max-content;
    position: relative;
    left: 50%;
    transform: translateX(-62%);
    text-align: center;
    list-style-type: none;
    display: flex;
    margin: 20px;
}
#container-bg>#dienanh>ul>li{
    background-color: orange;
    font-size: 0.7cm;
    border-radius: 30px 50px 50px 0;
    width: 280px;
    height: 70px;
    text-indent: 20px;
}
#container-bg>#dienanh>ul>li:hover{
    background-color: yellow;
}
#container-bg>#dienanh>ul>li:first-child{
    position: relative;
    background-color: yellow;
    transform: translateX(20%);
    box-shadow:  10px 0px 10px  #D9791D;
    
}
#container-bg>#dienanh>ul>li:first-child>p{
    font-weight: bold;
    transform:translateY(67%);
    color: black;
    left: -5%;
}
#container-bg>#dienanh>ul>li>a:hover{
    color: black;
}
#container-bg>#dienanh>ul>li>a{
    position: absolute;
    width: 220px;
    height: 70px;
    left: 60%;
    color: white;
    font-weight: bold;
}
#container-bg>#dienanh>ul>li>a>p{
    position: absolute;
    top: 28%;
}
#listnew{
    display: flex;
    width: 1170px;
    margin: auto;

}
.column{
    width: 370px;
    margin: 10px;
}
.new{
    position: relative;
    width: 370px;
    height: auto;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
.new:hover{
    background-color: orange;
}
.new a{
    position: absolute;
    width: 100%;
    height: 100%;
}
.new img{
    width:350px;
}
.new h1{
    font-size: 0.5cm;
}
#container-bg>#tuyendung>ul{
    width: max-content;
    position: relative;
    left: 50%;
    transform: translateX(-62%);
    text-align: center;
    list-style-type: none;
    display: flex;
    margin: 20px;
}
#container-bg>#tuyendung>ul>li{
    background-color: yellow;
    font-size: 0.7cm;
    border-radius: 30px 50px 50px 0;
    width: 280px;
    height: 70px;
}
#container-bg>#tuyendung>ul>li:first-child{
    background-color: orange;
    transform: translateX(20%);
    box-shadow:  10px 0px 10px  #D9791D;
}
#container-bg>#tuyendung>ul>li:first-child:hover{
    background-color: yellow;
}
#container-bg>#tuyendung>ul>li:last-child>p{
    position: absolute;
    font-weight: bold;
    transform:translateY(67%);
    color: black;
    text-align: right;
    left: 63.5%;
}
#container-bg>#tuyendung>ul>li>a{
    position: absolute;
    width: 280px;
    height: 70px;
    right: 0%;
    color: white;
    font-weight: bold;
}
#container-bg>#tuyendung>ul>li>a>p{
    right: 15%;
    position: absolute;
    top: 28%;
}
#container-bg>#tuyendung>ul>li>a:hover{
    color: black;
}
#listtd{
    margin: auto;
    grid-gap: 10px;
    width: 85%;
}
.td{
    position: relative;
    width: 370px;
    height: auto;
    background-color: white;
    padding: 10px;
    margin: auto;
    margin-bottom: 100px;
}
.td:hover{
    background-color: orange;
}
.td a{
    position: absolute;
    width: 100%;
    height: 100%;
}
.td img{
    width:350px;
}
.td h1{
    font-size: 0.5cm;
}
  
#footer{
    width: 100%;
    height: 100%;
}

#footer .container-footer{
    position: relative;
    bottom: 0%;
}

#footer .logo-footer{
    width: fit-content;
    margin: auto;
    padding-top: 40px;
}

#footer .content-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1520px;
    margin: auto;
}

#footer .content-footer h3{
    color: white;
    border: solid #601c5c 1px;
    line-height: 42px;
    width: fit-content;
    padding: 8px 19px;
    background-color: #601c5c;
}



#footer .content-footer .content-footer1 .content-lienket{
    margin-top: 20px;
    text-align: center;
}

#footer li,a{
    color: gray;
}

#footer .content-footer .content-footer5 .content-chinhsach,
#footer .content-footer .content-footer4 .content-thongtin,
#footer .content-footer .content-footer3 .content-TH2D,
#footer .content-footer .content-footer2 .content-hethongrap{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

#footer .content-footer .content-footer3 h3{
    width: fit-content;
    margin: auto;
}

#footer a:hover{
    color: orange;
}

#footer .content-footer .content-footer5{
    width: 100%;
}

#footer .content-footer .content-footer5 h3{
    margin: auto;
}

#thanhtoan{
    background: url(../image/bg-body.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    margin-top: 20px;
}

#thanhtoan .content-thanhtoan{
    margin: auto;
    width: fit-content;
    padding-top: 10px;
}

#thanhtoan .content-thanhtoan h3{
    color: #b3c4d5;
}

#thanhtoan .card{
    display: flex;
    margin-top: 10px;
}

#infor-company{
    background-color: black;
    height: 200px;
    color: #b3c4d5;
}

#infor-company .content-infor{
    text-align: center;
    padding-top: 20px;
}